/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

.green {
    color: green;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
}

body {
    font-family: "Roboto", sans-serif;
}

/* HEADER */

    header {
        background-color: black;
        height: 5vh;
        border: 1px solid white;
    }

/* MAIN */

.video-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 87vh;
    margin: 0 auto;
    overflow: auto;
    justify-content: space-between;
    padding: 2rem 2rem 1rem;
}

.video-card {
    background-image: url(../img/1066-246x146.jpg);
    width: calc(95% / 7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0.6rem 0;
    position: relative;
}

.video-container span {
    background-color: rgba(0,0,0, 0.4);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2rem;
    font-size: 0.7rem;
}


/* FOOTER */

    footer {
        background-color:#222222 ;
        height:8vh;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    nav p {
        font-size: 0.5rem;
        margin-top: 0.5rem;
    }

    footer nav {
        display: flex;
        gap:1rem;
        text-align: center;
        align-items: center;
    }

    nav div {
        padding: 0 0.5rem;
    }

    .end-meet {
        color: red;
        background-color:#4A4A4A;
    }

    


   