/* RESET */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

/* COMMON */

    .green {
        color: green;
    }

    .wrapper {
        width: 100%;
        height: 100vh;
        background-color: black;
    }

    body {
        font-family: "Roboto", sans-serif;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

/* HEADER */

    header {
        background-color: black;
        height: 5vh;
        color: white;
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        align-items: center;
        font-size: 1.5rem;
    }

    header div {
        margin-left: 0.8rem;
        background-color:#4A4A4A;
        padding: 0.2rem;
        border-radius: 5px;
    }
    

/* MAIN */

    .video-container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: 87vh;
        margin: 0 auto;
        gap: 1rem;
        padding: 2rem 2rem 1rem;
        overflow-y: auto;
    }

    .video-card {
        background-image: url(../img/1066-246x146.jpg);
        width: calc(100% / 7 - 1rem);
        height: calc(100% / 5 - 2rem);
        background-size: cover;
        background-position: center;
        margin: 0.5rem 0;
        position: relative;
    }

    .video-container a {
        background-color: rgba(0,0,0, 0.4);
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.2rem;
        font-size: 0.9rem;
    }


/* FOOTER */

    footer {
        background-color:#222222 ;
        height:8vh;
        color: white;
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
    }

    nav p {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    footer nav {
        display: flex;
        gap:1rem;
        text-align: center;
        align-items: center;
    }

    nav div {
        padding: 0 0.5rem;
    }

    .end-meet {
        color: red;
        background-color:#4A4A4A;
    }

   

    


   